In [35]:
import polars as pl
from PopSynthesis.Methods.IPSF.const import processed_dir, HH_ATTS, count_field

In [26]:
import pandas as pd

In [30]:
hh_pool = pl.read_csv(processed_dir / "HH_Pool.csv", infer_schema_length=0)

In [41]:
condensed_hh_pool = hh_pool.group_by(HH_ATTS).len(name=count_field)
condensed_hh_pool

shape: (10_707, 6)
┌───────────────────┬─────────────────┬───────────┬───────────┬────────┬───────┐
│ dwelltype         ┆ owndwell        ┆ hhinc     ┆ totalvehs ┆ hhsize ┆ count │
│ ---               ┆ ---             ┆ ---       ┆ ---       ┆ ---    ┆ ---   │
│ str               ┆ str             ┆ str       ┆ str       ┆ str    ┆ u32   │
╞═══════════════════╪═════════════════╪═══════════╪═══════════╪════════╪═══════╡
│ Separate House    ┆ Something Else  ┆ 1000-1249 ┆ 3         ┆ 6      ┆ 8     │
│ Separate House    ┆ Fully Owned     ┆ 1250-1499 ┆ 3         ┆ 4      ┆ 2997  │
│ Separate House    ┆ Something Else  ┆ 1500-1749 ┆ 2         ┆ 1      ┆ 15    │
│ Separate House    ┆ Fully Owned     ┆ 150-299   ┆ 1         ┆ 3      ┆ 1016  │
│ Separate House    ┆ Being Rented    ┆ 1750-1999 ┆ 2         ┆ 2      ┆ 7822  │
│ …                 ┆ …               ┆ …         ┆ …         ┆ …      ┆ …     │
│ Terrace/Townhouse ┆ Fully Owned     ┆ 5000-5999 ┆ 2         ┆ 2      ┆ 790   │
│ Flat or Apartment ┆ Fully Owned     ┆ 3500-3999 ┆ 1         ┆ 7      ┆ 1     │
│ Flat or Apartment ┆ Fully Owned     ┆ 800-999   ┆ 1         ┆ 6      ┆ 3     │
│ Terrace/Townhouse ┆ Being Rented    ┆ 650-799   ┆ 2         ┆ 1      ┆ 149   │
│ Separate House    ┆ Being Purchased ┆ 2000-2499 ┆ 2         ┆ 7      ┆ 268   │
└───────────────────┴─────────────────┴───────────┴───────────┴────────┴───────┘

In [42]:
condensed_hh_pool.write_csv(processed_dir / "HH_Pool_Condensed.csv")

In [38]:
pp_pool = pl.read_csv(processed_dir / "PP_Pool.csv", infer_schema_length=0)

In [43]:
condensed_pp_pool = pp_pool.group_by(pl.all()).len(name=count_field)
condensed_pp_pool

shape: (886, 6)
┌───────┬─────┬─────────────────┬──────────────┬─────────┬────────┐
│ age   ┆ sex ┆ persinc         ┆ nolicence    ┆ anywork ┆ count  │
│ ---   ┆ --- ┆ ---             ┆ ---          ┆ ---     ┆ ---    │
│ str   ┆ str ┆ str             ┆ str          ┆ str     ┆ u32    │
╞═══════╪═════╪═════════════════╪══════════════╪═════════╪════════╡
│ 30-39 ┆ M   ┆ $300-399 p.w.   ┆ No Licence   ┆ N       ┆ 308    │
│ 50-59 ┆ F   ┆ $1000-1249 p.w. ┆ No Licence   ┆ N       ┆ 548    │
│ 50-59 ┆ F   ┆ Zero Income     ┆ Some Licence ┆ N       ┆ 18243  │
│ 80-89 ┆ M   ┆ $1-199 p.w.     ┆ No Licence   ┆ N       ┆ 537    │
│ 70-79 ┆ M   ┆ $400-599 p.w.   ┆ Some Licence ┆ Y       ┆ 3230   │
│ …     ┆ …   ┆ …               ┆ …            ┆ …       ┆ …      │
│ 50-59 ┆ M   ┆ $2000+ p.w.     ┆ No Licence   ┆ Y       ┆ 1057   │
│ 0-9   ┆ M   ┆ Zero Income     ┆ No Licence   ┆ N       ┆ 289024 │
│ 30-39 ┆ F   ┆ $1-199 p.w.     ┆ Some Licence ┆ Y       ┆ 9176   │
│ 90-99 ┆ M   ┆ $300-399 p.w.   ┆ Some Licence ┆ N       ┆ 1311   │
│ 20-29 ┆ F   ┆ $400-599 p.w.   ┆ Some Licence ┆ N       ┆ 6256   │
└───────┴─────┴─────────────────┴──────────────┴─────────┴────────┘

In [44]:
condensed_pp_pool.write_csv(processed_dir / "PP_Pool_Condensed.csv")