In [1]:
import pickle
import pandas as pd
from PopSynthesis.Methods.IPSF.const import (
    data_dir,
    processed_dir,
    POOL_SIZE,
)
from PopSynthesis.Methods.IPSF.utils.pool_utils import create_pool

In [3]:
pp_seed = pd.read_csv(data_dir / "pp_sample_ipu.csv")
with open(processed_dir / "dict_pp_states.pickle", "rb") as handle:
    pp_att_state = pickle.load(handle)
pp_seed = pp_seed[list(pp_att_state.keys())]

In [4]:
pool = create_pool(seed=pp_seed, state_names=pp_att_state, pool_sz=POOL_SIZE)

Learn BN

  0%|          | 0/1000000 [00:00<?, ?it/s]

Doing the sampling

  0%|          | 0/5 [00:00<?, ?it/s]

In [5]:
pool

           age sex          persinc     nolicence anywork
0        40-49   F  $1000-1249 p.w.  Some Licence       Y
1        20-29   F    $800-999 p.w.  Some Licence       Y
2        10-19   F      Zero Income    No Licence       N
3        30-39   F    $600-799 p.w.  Some Licence       N
4        40-49   M    $600-799 p.w.  Some Licence       N
...        ...  ..              ...           ...     ...
4999995  20-29   M      $2000+ p.w.  Some Licence       Y
4999996  20-29   F      Zero Income  Some Licence       N
4999997  10-19   M      Zero Income    No Licence       N
4999998    0-9   M      Zero Income    No Licence       N
4999999  40-49   F    $400-599 p.w.  Some Licence       N

[5000000 rows x 5 columns]

In [6]:
pool.to_csv(processed_dir / "PP_pool.csv", index=False)